[submodule "Laura/Thirdparty/glew-cmake"]
	path = Laura/Thirdparty/glew-cmake
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "Laura/Thirdparty/spdlog"]
	path = Laura/Thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
